.pt{
    background-image: linear-gradient(to right,red,white,green);
} .ut{
    font-size: 35px;
    border-radius: 35px;

}.ip{
    font-size: 35px;
    border-radius: 35px;
}.li{
    font-size: 35px;
    border-radius: 35px;
}.tt{
    font-size: 35px;
    border-radius: 25px;}.hh{
        font-size: 80px;}
    .bb{
        font-size: 50px;
    }.jj{
        font-size: 50px;
    }.cc{
        font-size: 50px;
    }.cc{
    }
    